body {
    padding: 0px;
    margin: 0px;
}

/* main container for all divs */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* input section */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e7e9eb;
    width: 100%;
    height: auto;
    flex: 1;
    margin: 0 10px;
    padding-bottom:20px;
}

#inputuser {
    font-family: Akzidenz !important;
    width: 105%;
}

.input-header {
    font-family: Akzidenz !important;
    font-size: 30px;
}

#enterUser {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: lighter;
}

#submit {
    font-family: AkzidenzLight;
    font-weight: bold;
    margin-top: 8px;
    background-color: #fc7f01;
    color:  #e7e9eb;
    border: 0px;
}

#submit:hover {
    background-color: #f3b06c;
    color: white;
    transition: 0.3s;
}

/* section 1: watch frequencies */
.data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    height: auto;
    flex: 1;
    width: 100%;
    margin: 0 10px;
    padding-bottom:20px;
}

.data-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.data-subcontainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line-container {
    margin-left: 30px;
    margin-right: 8px;
}

.desc {
    color: white;
    font-family: Akzidenz;
}

.nofilms_header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nofilms_header {
    font-family: Akzidenz;
    font-size: 25px;
    color: #e7e9eb;
}

#result {
    font-family: Akzidenz;
    font-weight: bold;
    font-size: 90px;
    color: #fc7f01;
    margin-top: 0px;
    margin-bottom:0px;
}

.watches-header {
    font-family: Akzidenz;
    font-size: 20px;
    color: #e7e9eb; 
}

#leastWatches, #mostWatches {
    margin-top: 1px;
    margin-bottom: 1px;
    font-family: Akzidenz !important;
    font-weight: bold;
    font-size: 40px;
    color: #05de54;
}

#leastWatchesCount, #mostWatchesCount {
    padding:0px;
    margin: 0 0 0 0;
    font-family: Akzidenz !important;
    font-weight: bolder;
    font-size: 30px;
    color: white;
}

.watches-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:0px;
}

.green-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #05de54;
}

.watches-count-container {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.films-label {
    margin-top:0px;
    font-family: AkzidenzLight !important;
    color: white;
}

#film-img {
    width: 70px;
    height: 70px;
}

/* review section */
.review-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e7e9eb;
    width: 100%;
    height: 100%;
}

.review-subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#popularReviewHeader1, #popularReviewHeader2, #films-reviewed-header-text {
    font-family: Akzidenz;
    color:#fc7f01;
    font-size: 25px;
}

#noLikesReview1, #noLikesReview2 {
    font-family: Akzidenz;
    color:#fc7f01;
    font-size: 18px;
}

#userNameReview1, #userNameReview2, #filmTitleReview1, #filmTitleReview2 {
    margin: 0 0 0 0;
    font-family: AkzidenzLight;
    color: black;
    font-size: 18px;
}

#popularReview1, #popularReview2 {
    font-family: CooperItalic;
    color: black;
    font-size: 55px;
    text-wrap: balance;
    word-wrap: break-word;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 56px;
}

.review-details {
    direction: flex;
    flex-direction: column;
    row-gap: 1px;
    justify-content: center;
    align-items: center;
}

.films-reviewed-header {
    margin-bottom:0px;
    margin-top:10px;
    display: flex;
    flex-direction: row;
    column-gap: 0px;
    justify-content: center;
    align-items: center;
}

#speech-bubble-icon {
    width: 45px;
    height: 35px;
}

.container2{
    background-color: #660033;
    color: white;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 33.33%;
}

