body {
    padding: 0px;
    margin: 0px;
}

/* main container for all divs */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* input section */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e7e9eb;
    width: 100%;
    height: auto;
    flex: 1;
    margin: 0 10px;
    padding-bottom:20px;
}

#inputuser {
    font-family: Akzidenz !important;
    width: 105%;
}

.input-header {
    font-family: Akzidenz !important;
    font-size: 30px;
}

#enterUser {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: lighter;
}

#submit {
    font-family: AkzidenzLight;
    font-weight: bold;
    margin-top: 8px;
    background-color: #fc7f01;
    color:  #e7e9eb;
    border: 0px;
}

#submit:hover {
    background-color: #f3b06c;
    color: white;
    transition: 0.3s;
}

/* section 1: watch frequencies */
.data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    height: auto;
    flex: 1;
    width: 100%;
    margin: 0 10px;
    padding-bottom:20px;
}

.data-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.data-subcontainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line-container {
    margin-left: 30px;
    margin-right: 8px;
}

.desc {
    color: white;
    font-family: Akzidenz;
}

.nofilms_header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1px;
}

.nofilms_header {
    font-family: Akzidenz;
    font-size: 25px;
    color: #e7e9eb;
}

#result {
    font-family: Akzidenz;
    font-weight: bold;
    font-size: 120px;
    color: #fc7f01;
    margin-top: 0px;
    margin-bottom:0px;
}

.watches-header {
    font-family: Akzidenz;
    font-size: 20px;
    color: #e7e9eb; 
}

#leastWatches, #mostWatches {
    margin-top: 1px;
    margin-bottom: 1px;
    font-family: Akzidenz !important;
    font-weight: bold;
    font-size: 40px;
    color: #05de54;
}

#leastWatchesCount, #mostWatchesCount {
    padding:0px;
    margin: 0 0 0 0;
    font-family: Akzidenz !important;
    font-weight: bolder;
    font-size: 30px;
    color: white;
}

.watches-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:0px;
}

.green-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #05de54;
}

.watches-count-container {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.films-label {
    margin-top:0px;
    font-family: AkzidenzLight !important;
    color: white;
}

#film-img {
    width: 70px;
    height: 70px;
}

/* review section */
.review-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e7e9eb;
    width: 100%;
    height: 100%;
}

.review-subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#popularReviewHeader1, #popularReviewHeader2, #films-reviewed-header-text {
    font-family: Akzidenz;
    color:#fc7f01;
    font-size: 25px;
}

#noLikesReview1, #noLikesReview2 {
    font-family: Akzidenz;
    color:#fc7f01;
    font-size: 18px;
    text-align: center;
}

#userNameReview1, #userNameReview2, #filmTitleReview1, #filmTitleReview2 {
    margin: 0 0 0 0;
    font-family: AkzidenzLight;
    color: black;
    font-size: 18px;
}

#popularReview1, #popularReview2 {
    font-family: CooperItalic;
    color: black;
    font-size: 55px;
    text-wrap: balance;
    word-wrap: break-word;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 56px;
}

.review-details {
    direction: flex;
    flex-direction: column;
    row-gap: 1px;
    justify-content: center;
    align-items: center;
}

.films-reviewed-header {
    margin-bottom:0px;
    margin-top:10px;
    display: flex;
    flex-direction: row;
    column-gap: 0px;
    justify-content: center;
    align-items: center;
}

#speech-bubble-icon {
    width: 45px;
    height: 35px;
}

/* ratings section */

.rating-plot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar-graphs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rating-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.ratings-subsection1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.ratings-subsection2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.rating-section-header {
    font-family: Akzidenz;
    color:#e7e9eb;
    font-size: 25px;
}

.most {
    margin-left: 10px;
}

.minmax-ave-rating {
    border: 1px solid white;
    padding:8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.most-directors, .most-actors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#minRating, #maxRating {
    color:#fc7f01;
}

#aveRating {
    color:#40baf1;
}

#minRating, #maxRating, #aveRating {
    font-family: Akzidenz;
    font-size: 60px;
    margin-top:0;
    margin-bottom: 0;
}

.container2{
    background-color: #660033;
    color: white;
}

.rating-subsection2 {
    margin-left: 25;
}

.films-liked-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* genres and rewatch section */

.genres-rew-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #e7e9eb;
}

.genre-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7e9eb;
}

.genre-bar {
    margin-top: 30px;
}

.rewatch-info {
    display: flex;
    flex-direction: column;
    background-color: #e7e9eb;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 20px;
}

.rewatch-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

#rewatchFilm {
    font-family: CooperItalic;
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    text-align: end;
    text-wrap: balance;
    word-wrap: break-word;
    width: 450px;
    letter-spacing: -1px;
    line-height: 80%;
}

#rewatch-icon {
    width:100;
    height: 100px;
}

#rewatchYear {
    font-family: AkzidenzLight;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 30;
    color: black;
}

#rewatchTimes {
    font-family: Akzidenz;
    font-size: 25px;
    color: white;
    margin: 0 0 0 0;
}

.genre-rew-header {
    font-family: Akzidenz;
    color: black;
    font-size: 25px;
}

.rewatch-container {
    background-color: #fc7f01;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 33.33%;
}

